<html>

<head>
<style type="text/css">
	body{
		background-color: skyblue;
		text-align: center;
	}
	.section{
		width: 400px;
		background-color: white;
		border-radius: 25px; 
	}
</style>
	</head>

<body>
		<div align="center">
<div class = 'section'>
<h1> Are you sure you want to delete {{d.Deptname}}? </h1>

<form action="{{ url_for('deletedept',dept_id=d.dept_id)}}" method = 'post'>

<input type='submit', value = 'Delete'>




</form>

<a href = '{{url_for('showdept')}}'> Cancel </a>
</div>
</div>
</body>

</html>
