<html>
<head>
<style type="text/css">
	body{
		background-color: skyblue;
		text-align: center;
	}
	.section{
		width: 400px;
		background-color: white;
		border-radius: 25px; 
	}
</style>	</head>

<body>
<div align="center">
<div class = 'section'>
	<h1> Edit Student </h1>

<form action="#" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name' placeholder = '{{s.name }}'>
	
<br>
<input type='submit' value='Edit'>

<br>
<a href = '{{url_for('showstudents',dept_id=dept_id)}}'> Cancel </a>

</form>
</div>
</div>
</body>
</html>

