<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Swarnandhra</title>
<style type="text/css">
body{
		background-color: skyblue;
		text-align: center;
	}
	.section{
		width: 400px;
		background-color: white;
		border-radius: 25px; 
	}
</style>
</head>
<body>
	<div align="center">
<div class='section'>
  <div id="header"> <a href="{{ url_for('showdept') }}">Swarnandhra</a> </div>
 
   
    <a href="{{ url_for('showlogin') }}">Login</a> </div>
    </div>
</body>
</html>
